* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.container-fluid {
    padding-left: 145px;
    padding-right: 145px;
}

nav {
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
}

.navbar-brand img {
    margin-right: 238px;
}

.nav-item a {
    margin-right: 51px;
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 400;
}

.nav-item a:hover {
    color: var(--Orange, #FF5F19);
    font-size: 16px;
}

.beranda {
    width: 100%;
    height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 75px;
    padding-left: 146px;
    padding-right: 600px;
}

.bg-home {
    background-image: url("../img/beranda.jpg");
}

.bg-daily {
    background-image: url("../img/bg-daily.png");
}

.beranda .title {
    color: var(--White, #FFF);
    font-family: "Lobster Two";
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 60px;
}

.beranda .subtitle {
    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.6px;
    margin-bottom: 60px;
}

.button {
    display: flex;
    padding: 16px 31px;
    width: 300px;
    gap: 10px;
    border-radius: 50px;
    background: var(--Orange, #FF5F19);
    color: #FFF;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.button:hover {
    box-shadow: 0px 0px 15px 5px rgba(255, 69, 0, 0.7);
    transform: translateY(-5px) scale(1.05);
}

.title {
    color: var(--White, #FFF);
    font-size: 40px;
    font-weight: 700;
    padding-top: 25px;
}

.tentang-card {
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 0px 10px 0px #FFF;
    padding: 30px;
}

/* .tentang-produk {
    margin-top: -170px;
    margin-left: -100px;
} */

.kemasan {
    margin-top: -300px;
}

/* .kemasan-gif {
    width: 60%;
    height: auto;
} */

.kemasan-title {
    color: var(--White, #7A25E3);
    font-family: Manrope;
    font-size: 26px;
    font-weight: 700;
}

.kemasan-card {
    /* margin-left: 100px; */
    /* margin-top: 100px; */
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 0px 10px 0px #FFF;
    padding: 30px;
}

/* VO */

/* .vo .col-md-4 {
    margin-top: -90px;
} */


.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}


/* akhir VO */

/* Daily routine */
.button-daily {
    display: flex;
    padding: 6px 12px;
    width: 200px;
    gap: 10px;
    border-radius: 50px;
    background: var(--Orange, #FF5F19);
    color: #FFF;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    outline: none;
    margin-top: 20px;
}

.button-daily:hover {
    box-shadow: 0px 0px 15px 5px rgba(255, 69, 0, 0.7);
    transform: translateY(-5px) scale(1.05);
}

/* Shop */
.shop {
    padding-top: 120px;
}

.img-shop {
    width: 70%;
    height: auto;
}

.shop-title {
    color: var(--White, #FFF);
    font-family: "Lobster Two";
    font-size: 60px;
    font-weight: 500;
    margin-top: 180px;
}

.shop-text {
    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 26px;
    font-weight: 700;
}

footer {
    background: #e7d8fa;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    height: 572px;
    flex-shrink: 0;

    padding-left: 150px;
    padding-top: 96px;
    padding-right: 150px;
}

.footer-deskripsi {
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.6px;

    margin-top: 53px;
    margin-bottom: 53px;
}

.social-icons {
    padding: 20px;
    margin-left: -20px;
}

.social-icons {
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 50%;
}

.social-icons:hover {
    transform: scale(1.1);
}

.img-relax {
    margin-top: 55px;
}

.main {
    margin-top: -50px;
}

@media screen and (max-width: 768px) {
    #main {
        margin-top: -50px;
    }

    .img-relax {
        width: 70%;
    }

    .shop {
        margin-top: -250px;
        text-align: center;
        padding-bottom: 50px;
    }

    .shop .button {
        padding: 8px 10px;
        width: 200px;
    }

    .shop .col-md-8 {
        display: none;
    }

    .shop-text {
        font-size: 20px;
        font-weight: 600;
    }

    .shop-title {
        font-size: 40px;
    }

    .kemasan-gif {
        margin-left: 60px;
    }

    .kemasan {
        margin-top: 0;
    }

    .kemasan-card {
        margin-left: 0;
        margin-top: 0;
    }

    .tentang-card {
        margin-left: 0;
        margin-top: 30px;
    }

    /* .tentang-produk {
        margin-top: -50px;
        margin-left: -30px;
        width: 100%;
        height: auto;
    } */

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }

    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-brand img {
        margin-right: 0;
    }

    .beranda {
        padding-top: 75px;
        padding-left: 0;
        padding-right: 0;
        height: 70vh;
    }


    .beranda .title {
        font-size: 32px;
    }

    .beranda .subtitle {
        font-size: 18px;
        text-align: justify;
    }

    .vo1 {
        display: none;
    }

    footer {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-deskripsi {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

/* Different page */
.kotak-kiri {
    padding: 36px 33px;
    gap: 10px;
    border-radius: 10px;
}

.kotak-kanan {
    padding: 20px 50px 20px 20px;
    border-radius: 10px;

    background: var(--White, #FFF);
}

.langkah-1 {
    border: 5px solid var(--Yellow, #FCCB27);
}

.langkah-2 {
    border: 5px solid var(--Orange, #FF5F19);
}

.langkah-3 {
    border: 5px solid var(--Dark-Purple, #51068B);
}

@media screen and (max-width: 768px) {
    .kotak-kanan {
        padding: 10px;
    }
    .daily-tambahan{
        display: none;
    }
}